# 忽略可执行文件等
*.exp
*.lib
*.qm
*.qss
*.ini
*.exe
*.dll

# 忽略资源文件目录
audio/card
audio/equip
audio/system
audio/**/[a-z]*.ogg
bearer/
diy/
dmp/
doc/
etc/
font/
iconengines/
image/animate
image/big-card
image/compact
image/equips
image/gender
image/heroskin/audio/[^A-Z]*
image/heroskin/fullskin/generals/full/[^A-Z]*
image/heroskin/generals/card/[^A-Z]*
image/hidden
image/icon
image/kingdom
image/logo
image/mark/**/*.ahu
image/mark/**/*.psd
image/small-equips
image/system
image/**/[^A-Z]*.[jJ][pP][gG]
image/**/[^A-Z]*.[pP][nN][gG]
!@Lua[A-Z]*.png
imageformats/
lang/zh_CN/*.lua
lang/zh_CN/Audio/*.lua
lang/zh_CN/Package/*.lua
!ExpansionPackageLines.lua
!ExpansionPackage.lua
!GroupFriendPackage.lua
!LandlordsPackage.lua
listserver/
lua/ai/[^A-Z]*.lua
lua/lib
lua/*.lua
!QSanguoshaLuaFunction.lua
platforms/
qml1tooling/
qss/
Qt/
replays/
scenarios/
skins/
sqldrivers/
translations/
ui-script/

# 忽略 extensions 下我们编写之外的文件
extensions/hidden/*.lua
extensions/hulaoguan.lua
extensions/extra.lua
extensions/extra-222.lua
