# 忽略可执行文件等
*.exp
*.lib
*.qm
*.qss
*.ini
*.exe
*.dll

# 忽略资源文件目录
audio/card
audio/equip
audio/system
audio/**/[a-z]*.ogg
bearer/
diy/
dmp/
doc/
etc/
font/
iconengines/
image/animate
image/big-card
image/compact
image/equips
image/gender
image/heroskin
image/hidden
image/icon
image/kingdom
image/logo
image/mark
image/small-equips
image/system
image/**/*.lnk
image/**/[^A-Z]*.[jJ][pP][gG]
image/**/[^A-Z]*.[pP][nN][gG]
imageformats/
lang/
listserver/
lua/ai/[^A-Z]*.lua
lua/lib
lua/*.lua
!QSanguoshaLuaFunction.lua
platforms/
qml1tooling/
qss/
Qt/
scenarios/
skins/
sqldrivers/
translations/
ui-script/

# 忽略 extensions 下我们编写之外的文件
extensions/hidden/*.lua
extensions/hulaoguan.lua
extensions/extra.lua
extensions/extra-222.lua